body {
  margin: 0px;
}
.container {
  width: 100%;
  height: 100%;
}
nav.nav-top {
  width: 100%;
  background-color: #585858;
}
nav.nav-top .container {
  width: 980px;
  margin: auto;
  height: 60px;
}
nav.nav-top .container ul {
  padding: 0;
  margin: 0;
  list-style: none;
  float: right;
}
nav.nav-top .container ul li {
  display: inline-block;
}
nav.nav-top .container ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  width: 80px;
  line-height: 60px;
  margin: auto;
  text-align: center;
}
nav.nav-top .container ul li a:hover {
  background-color: #ffa500;
  color: #fff;
}
